{% extends "_includes/app.njk" %}
 
{% block title %}Convolute{% endblock %}
 
{% block content %}

  <main class="flex-1 relative z-0 overflow-y-auto focus:outline-none xl:order-last" tabindex="0">
    <!-- Start main area-->
    <div class="absolute inset-0 py-6 px-4 sm:px-6 lg:px-8">
      <div class="h-full">
        <div>
          <h3 class="text-lg leading-6 font-bold text-gray-900">
            Quality Metrics
          </h3>
          <dl class="mt-5 grid grid-cols-1 rounded-sm bg-gray-50 overflow-hidden divide-y divide-white md:grid-cols-4 md:divide-y-0 md:divide-x">
            <div>
              <div class="px-4 py-5 sm:p-6">
                <h6 class="font-mono uppercase text-xs text-orange-500 mt-1">
                  Accuracy
                </h6>
                <dd class="mt-1 flex justify-between items-baseline md:block lg:flex">
                  <div class="flex items-baseline text-2xl font-semibold text-orange-500">
                    99.2%
                  </div>
                </dd>
              </div>
            </div>

            <div>
              <div class="px-4 py-5 sm:p-6">
                <h6 class="font-mono uppercase text-xs text-cobalt-500 mt-1">
                  Tasks qa’d
                </h6>
                <dd class="mt-1 flex justify-between items-baseline md:block lg:flex">
                  <div class="flex items-baseline text-2xl font-semibold text-cobalt-500">
                    33,214
                  </div>
                </dd>
              </div>
            </div>

            <div>
              <div class="px-4 py-5 sm:p-6">
                <h6 class="font-mono uppercase text-xs text-mosque-500 mt-1">
                  Accepted
                </h6>
                <dd class="mt-1 flex justify-between items-baseline md:block lg:flex">
                  <div class="flex items-baseline text-2xl font-semibold text-mosque-500">
                    99.9%
                  </div>
                </dd>
              </div>
            </div>

            <div>
              <div class="px-4 py-5 sm:p-6">
                <h6 class="font-mono uppercase text-xs text-gray-900 mt-1">
                  Rejected
                </h6>
                <dd class="mt-1 flex justify-between items-baseline md:block lg:flex">
                  <div class="flex items-baseline text-2xl font-semibold text-cobalt-600">
                    0.1%
                  </div>
                </dd>
              </div>
            </div>
          </dl>
        </div>

        <div class="mt-12">
          <h3 class="text-lg leading-6 font-bold text-gray-900">
            Tasks Created Over Time
          </h3>

          <img class="mt-6 w-full h-full object-cover" src="/src/images/chart.svg" alt="">
        </div>

      </div>
    </div>
    <!-- End main area -->
  </main>

{% endblock %}
