{% extends "_includes/app.njk" %}
 
{% block title %}Convolute{% endblock %}
 
{% block content %}
  <!--
    This example requires Tailwind CSS v2.0+

    This example requires some changes to your config:

    ```
    // tailwind.config.js
    module.exports = {
      // ...
      plugins: [
        // ...
        require('@tailwindcss/forms'),
      ]
    }
    ```
  -->
  <div>
    <div class="">
      <div class="border-b border-gray-200">
        <div class="inset-0 px-4 sm:px-6 lg:px-8">
          <nav class="-mb-px flex space-x-4" aria-label="Tabs">
            <a href="/app" class="border-indigo-500 text-indigo-600 whitespace-nowrap py-4 px-1 border-b-2 font-medium text-sm" aria-current="page">
              Overview
            </a>
            <a href="/app-quality" class="border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300 whitespace-nowrap py-4 px-1 border-b-2 font-medium text-sm">
              Quality
            </a>
            <a href="/app-tasks" class="border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300 whitespace-nowrap py-4 px-1 border-b-2 font-medium text-sm">
              Tasks
            </a>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <main class="flex-1 relative z-0 overflow-y-auto focus:outline-none xl:order-last" tabindex="0">
    <!-- Start main area-->
    <div class="absolute inset-0 py-6 px-4 sm:px-6 lg:px-8">
      <div class="h-full">
        <div class="mt-4">
          <h3 class="text-lg leading-6 font-bold text-gray-900 mb-6">
            Tasks Created Over Time
          </h3>

          <div id="basic-line2"></div>
        </div>

        <div class="mt-12">
          <h3 class="text-lg leading-6 font-bold text-gray-900 mb-6">
            Tasks Completed Over Time
          </h3>

          <div id="basic-line3"></div>
        </div>

        <div class="mt-12">
          <h3 class="text-lg leading-6 font-bold text-gray-900 mb-6">
            Quality Over Time
          </h3>

          <div id="basic-line"></div>
        </div>

      </div>
    </div>
    <!-- End main area -->
  </main>
  <script>
  var myChart = Highcharts.chart('basic-line', {
    chart: {
     styledMode: true,
     height: 300
   },

   title: {
     text: ''
   },

   yAxis: {
     title: {
       text: ''
     }
   },
   xAxis: {
      type: "datetime",
      labels: {
        formatter: function() {
          return Highcharts.dateFormat('%e %b %Y', this.value);
        }
      }
    },
   plotOptions: {
     series: {
       label: {
         connectorAllowed: true
       },
       pointStart: Date.UTC(2020, 12, 01),
       pointInterval: 24 * 3600 * 1000 //one day
     }
   },

   series: [{
     name: 'Fixed',
     data: [15988, 12988, 11988, 10169, 9112, 8352, 5400, 4227, 3401, 2941],
     marker: {
       symbol: 'circle'
     }
   }, {
     name: 'Accepted',
     data: [12916, 15064, 18742, 21851, 22490, 30282, 38121, 40434, 49413, 59331],
     marker: {
       symbol: 'circle'
     }
   }, {
     name: 'Rejected',
     data: [18908, 14948, 12105, 11248, 9989, 5816, 3274, 2111, 1301, 333],
     marker: {
       symbol: 'circle'
     }
   }],
  });

  var myChart = Highcharts.chart('basic-line2', {
    chart: {
     styledMode: true,
     height: 260
   },
   legend: {
      enabled: false
    },

   title: {
     text: ''
   },

   yAxis: {
     title: {
       text: ''
     }
   },
   xAxis: {
      type: "datetime",
      labels: {
        formatter: function() {
          return Highcharts.dateFormat('%e %b %Y', this.value);
        }
      }
    },
   plotOptions: {
     series: {
       label: {
         connectorAllowed: true
       },
       pointStart: Date.UTC(2020, 12, 01),
       pointInterval: 24 * 3600 * 1000 //one day
     }
   },

   series: [{
     name: 'Tasks Created Over Time',
     data: [12916, 15064, 18742, 21851, 22490, 30282, 38121, 40434, 48132, 51959, 57142],
     marker: {
       symbol: 'circle'
     }
   }],
  });


  var myChart = Highcharts.chart('basic-line3', {
    chart: {
     styledMode: true,
     height: 260
   },
   legend: {
      enabled: false
    },

   title: {
     text: ''
   },

   yAxis: {
     title: {
       text: ''
     }
   },
   xAxis: {
      type: "datetime",
      labels: {
        formatter: function() {
          return Highcharts.dateFormat('%e %b %Y', this.value);
        }
      }
    },
   plotOptions: {
     series: {
       label: {
         connectorAllowed: true
       },
       pointStart: Date.UTC(2020, 12, 01),
       pointInterval: 24 * 3600 * 1000 //one day
     }
   },

   series: [{
     name: 'Tasks Completed',
     data: [12916, 15064, 18742, 21851, 22490, 30282, 38121, 40434, 48132, 51959, 57142],
     marker: {
       symbol: 'circle'
     }
   }],
  });

  </script>
{% endblock %}
