{% extends "_includes/app.njk" %}
 
{% block title %}Convolute{% endblock %}
 
{% block content %}

  <main class="flex-1 relative z-0 overflow-y-auto focus:outline-none xl:order-last" tabindex="0">

    <div class="">
      <div class="border-b bg-gray-50 border-gray-200">
        <div class="inset-0 px-4 sm:px-6 lg:px-8">
          <nav class="-mb-px flex space-x-2" aria-label="Tabs">
            <a href="/tasks/quality" class="{{ 'border-cobalt-500 border-cobalt-500 text-cobalt-600' if '/tasks/quality' in page.url }} border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300 whitespace-nowrap py-4 px-1 border-b-2 text-sm">
              Overview
            </a>
            <a href="/tasks/task10" class="{{ 'border-cobalt-500 border-cobalt-500 text-cobalt-600' if '/tasks/task' in page.url }} border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300 whitespace-nowrap py-4 px-1 border-b-2 text-sm">
              Tasks
            </a>
          </nav>
        </div>
      </div>
    </div>

    <!-- Start main area-->
    <div class="inset-0 py-6 px-4 sm:px-6 lg:px-8">
      <div class="h-full">
        <div>
          <div class="flex justify-between items-end">
            <h3 class="text-xl leading-6 font-bold text-gray-900">
              Quality Metrics
            </h3>
            <div class="flex flex-row items-center space-x-2">
              <div class="relative w-24 rounded shadow-sm">
                <select type="text" name="account_number" id="account_number" class="focus:ring-cobalt-500 focus:border-cobalt-500 block w-full pr-10 sm:text-sm border-gray-200 rounded">
                  <option class="py-1" disabled selected>Date</option>
                </select>
              </div>

              <div class="relative w-24 rounded shadow-sm">
                <select type="text" name="account_number" id="account_number" class="focus:ring-cobalt-500 focus:border-cobalt-500 block w-full pr-10 sm:text-sm border-gray-200 rounded">
                  <option class="py-1" disabled selected>Batch</option>
                </select>
              </div>
            </div>
          </div>
          <dl class="mt-5 grid grid-cols-1 rounded-sm bg-gray-50 overflow-hidden divide-y divide-white md:grid-cols-5 md:divide-y-0 md:divide-x">
            <div>
              <div class="px-4 py-5 sm:p-6">
                <h6 class="font-mono uppercase text-xs text-black mt-1">
                  Model Accuracy
                </h6>
                <dd class="mt-1 flex justify-between items-baseline md:block lg:flex">
                  <div class="flex items-baseline text-2xl font-semibold text-black">
                    82.2%
                  </div>
                </dd>
              </div>
            </div>

            <div>
              <div class="px-4 py-5 sm:p-6">
                <h6 class="font-mono uppercase text-xs text-black mt-1">
                  Tasks Verified
                </h6>
                <dd class="mt-1 flex justify-between items-baseline md:block lg:flex">
                  <div class="flex items-baseline text-2xl font-semibold text-black">
                    33,214
                  </div>
                </dd>
              </div>
            </div>

            <div>
              <div class="px-4 py-5 sm:p-6">
                <h6 class="font-mono uppercase text-xs text-mosque-500 mt-1">
                  Accepted
                </h6>
                <dd class="mt-1 flex justify-between items-baseline md:block lg:flex">
                  <div class="flex items-baseline text-2xl font-semibold text-mosque-500">
                    29,518
                  </div>
                </dd>
              </div>
            </div>

            <div>
              <div class="px-4 py-5 sm:p-6">
                <h6 class="font-mono uppercase text-xs text-orange-500 mt-1">
                  Fixed
                </h6>
                <dd class="mt-1 flex justify-between items-baseline md:block lg:flex">
                  <div class="flex items-baseline text-2xl font-semibold text-orange-500">
                    2,412
                  </div>
                </dd>
              </div>
            </div>

            <div>
              <div class="px-4 py-5 sm:p-6">
                <h6 class="font-mono uppercase text-xs text-red-500 mt-1">
                  Rejected
                </h6>
                <dd class="mt-1 flex justify-between items-baseline md:block lg:flex">
                  <div class="flex items-baseline text-2xl font-semibold text-red-500">
                    41
                  </div>
                </dd>
              </div>
            </div>
          </dl>
        </div>

        <div class="mt-12">
          <h3 class="text-lg leading-6 font-bold text-gray-900 mb-4">
            Batches
          </h3>

          <ul class="divide-y divide-gray-100 border border-gray-100 rounded">
          {%- for task in collections.task | reverse -%}
            <li {% if page.url == task.url %} class="bg-cobalt-50 hover:bg-cobalt-50"{% endif %}>
              <a href="{{ task.url }}" class="block hover:bg-gray-50">
                <div class="px-4 py-3 sm:px-4 items-center">
                  <div class="flex items-center justify-between">
                    <div>
                      <p class="text-sm font-medium text-black truncate {% if page.url == task.url %}text-cobalt-500{% endif %}">
                        {{ task.data.inbatch }}
                      </p>
                      <div class="mt-1 sm:flex sm:justify-between">
                        <div class="sm:flex">
                          <p class="flex font-mono items-center text-xs text-gray-500">
                            <time datetime="{{ date }}">Submitted: {{ task.date.toUTCString() }}</time>
                          </p>
                        </div>
                      </div>
                    </div>

                    <div class="flex items-center">
                      <progress class="progress-bar mr-2" max="100" value="70"> 20%</progress>

                      <div class="ml-2 flex-shrink-0 flex tooltip">
                        <span class="inline-flex items-center px-3 py-0.5 rounded-full text-sm bg-gray-100 text-gray-800">
                          <svg class="-ml-1 mr-1.5 h-2 w-2 text-gray-400" fill="currentColor" viewBox="0 0 8 8">
                          <circle cx="4" cy="4" r="3" />
                          </svg>
                          <span class="mt-0.5">12</span>
                        </span>
                        <span class='tooltip-text bg-gray-200 p-3 -mt-6 text-xs -ml-6 rounded'>12 ready to audit</span>
                      </div>

                      <div class="ml-2 flex-shrink-0 flex tooltip">
                        <span class="inline-flex items-center px-3 py-0.5 rounded-full text-sm bg-mosque-100 text-mosque-800">
                          <svg class="-ml-1 mr-1.5 h-2 w-2 text-mosque-400" fill="currentColor" viewBox="0 0 8 8">
                          <circle cx="4" cy="4" r="3" />
                          </svg>
                          <span class="mt-0.5">51</span>
                        </span>
                        <span class='tooltip-text bg-mosque-200 p-3 -mt-6 text-xs -ml-6 rounded'>51 accepted</span>
                      </div>

                      <div class="ml-2 flex-shrink-0 flex tooltip">
                        <span class="inline-flex items-center px-3 py-0.5 rounded-full text-sm bg-orange-100 text-orange-800">
                          <svg class="-ml-1 mr-1.5 h-2 w-2 text-orange-400" fill="currentColor" viewBox="0 0 8 8">
                          <circle cx="4" cy="4" r="3" />
                          </svg>
                          <span class="mt-0.5">18</span>
                        </span>
                        <span class='tooltip-text bg-orange-200 p-3 -mt-6 text-xs -ml-6 rounded'>18 fixed</span>
                      </div>

                      <div class="ml-2 flex-shrink-0 flex tooltip">
                        <span class="inline-flex items-center px-3 py-0.5 rounded-full text-sm bg-red-100 text-red-800">
                          <svg class="-ml-1 mr-1.5 h-2 w-2 text-orange-400" fill="currentColor" viewBox="0 0 8 8">
                          <circle cx="4" cy="4" r="3" />
                          </svg>
                          <span class="mt-0.5">2</span>
                        </span>
                        <span class='tooltip-text bg-red-200 p-3 -mt-6 text-xs -ml-6 rounded'>2 rejected</span>
                      </div>

                      <button type="button" class="mx-6 inline-flex items-center bg-transparent rounded text-sm text-cobalt-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-cobalt-500">
                        Audit
                      </button>

                    </div>
                  </div>
                </div>
              </a>
            </li>
          {%- endfor -%}
          </ul>

        </div>

      </div>
    </div>
    <!-- End main area -->
  </main>
{% endblock %}
