---
tags: task
title: 5a1dbd15014b821c1948c351
audit: Fixed
Status: Completed
tasktype: Envelope Scan
ibmcode: 753542
sendername: Freddie Beck
senderaddress: Oshiage, 1 Chome−1−2 東京スカイツリータウン・ソラマチ
recipientaddress: Lincolnstraße 10, 20359 Hamburg
recipientname: Herrn John Lührs
date: 2020-12-31T04:10:17.000Z
layout: task.njk
---

<img class="mx-auto py-6 px-4 inset-0 w-full h-full object-cover" src="/src/images/envelope.jpg" alt="">
