---
tags: task
title: 5b2d41bd14014b841c1428c613
status: Accepted
ibmcode: 51451
sendername: T. Susuki
senderaddress: Tokyo Centra Post Office, P.O.B 640, Tokyo, Japan
recipientaddress: Taito City, Tokyo, Japan
recipientname: Herrn John Lührs
date: 2020-12-27T07:20:11.000Z
layout: task.njk
---

<img class="mx-auto py-6 px-4 inset-0 w-full h-full object-cover" src="/src/images/envelope3.jpg" alt="">
