<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      {% block title %}App{% endblock %}
    </title>
    <meta charset="UTF-8"/>
    {% if description %}
      <meta name="description" content="{{description}}"/>
    {% endif %}
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover"/>
    <link rel="stylesheet" href="/style.css?v={% version %}"/>
    {% block head %}{% endblock %}
    <script src="/js/alpine.js?v={% version %}"></script>
  </head>
  <body>
    <div class="h-screen flex overflow-hidden bg-white" x-data="{open:false}">
      {% include 'partial/app-sidebar.njk' %}

      <div class="flex flex-col min-w-0 flex-1 overflow-hidden">
        {% include 'partial/app-header-mobile.njk' %}

        <div class="h-full">
          <div class="border-b bg-gray-50 border-gray-200">
            <div class="inset-0 px-4 sm:px-6 lg:px-8">
              <nav class="-mb-px flex space-x-2" aria-label="Tabs">
                <a href="/tasks/quality" class="border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300 whitespace-nowrap py-4 px-1 border-b-2 font-medium text-sm">
                  Overview
                </a>
                <a href="/tasks/task10" class="border-cobalt-500 text-cobalt-600 whitespace-nowrap py-4 px-1 border-b-2 font-medium text-sm" aria-current="page">
                  Tasks
                </a>
              </nav>
            </div>
          </div>

          <div class="flex-1 z-0 flex overflow-hidden h-full">
            <main class="flex-1 relative z-0 overflow-y-auto focus:outline-none xl:order-last" tabindex="0">
              <!-- Start main area-->
              <div class="absolute inset-0 py-4">
                <div class="h-full">
                  <div class="pb-4 px-4 border-b border-gray-100 sm:flex sm:items-center sm:justify-between">
                    <div>
                      <div class="flex items-center">
                        <h3 class="text-lg leading-6 font-bold text-gray-900">
                          {{ title }}
                        </h3>
                        <span class="{{ audit }} h-5 py-1">
                          <div class="mt-0.5">{{ audit }}</div>
                        </span>
                      </div>

                      {% if date %}
                      <p class="mt-1 font-mono max-w-4xl text-xs text-gray-500">
                        <time datetime="{{ date }}">{{ date.toUTCString() }}</time>
                      </p>
                      {% endif %}
                    </div>

                    {% if audit != 'Ready for Audit' %}
                      <div class="mt-3 sm:mt-0 sm:ml-4">
                        <button type="button" class="inline-flex items-center border px-5 py-2 border-cobalt-500 rounded-md text-sm text-cobalt-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-cobalt-500">
                          Edit
                        </button>
                      </div>
                    {% endif %}

                    {% if audit == 'Ready for Audit' %}
                      <div class="mt-3 sm:mt-0 sm:ml-4">
                        <button type="button" class="inline-flex items-center px-5 py-3 bg-cobalt-500 rounded-md text-sm text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-cobalt-500">
                          Accept
                        </button>
                        <button type="button" class="inline-flex items-center border px-5 py-3 border-gray-500 rounded-md text-sm text-black focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-cobalt-500">
                          Fix
                        </button>
                        <button type="button" class="inline-flex items-center border px-5 py-3 border-red-500 rounded-md text-sm text-black focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-cobalt-500">
                          Reject
                        </button>
                      </div>
                    {% endif %}
                  </div>

                  <div class="grid grid-cols-3 gap-1">
                    <div class="col-span-2">
                      <h3 class="m-4 font-bold">Image</h3>
                      <div class="relative flex items-center justify-center">
                        <div class="w-full bg-gray-200">
                          {% block content %}
                            {{ content | safe }}
                          {% endblock %}
                        </div>
                        <img class="absolute w-100 h-100 object-cover" src="/src/images/envelope-overlay.svg" alt="">
                      </div>
                    </div>
                    <div>
                      <div class="mt-4 mx-2 flex justify-between items-center">
                        <h3 class="font-bold">Results</h3>
                        <h6 class="text-xs text-gray-500 font-mono font-bold uppercase">accuracy</h6>
                      </div>
                      <div class="space-y-6 pt-4 px-2">
                        <div class="">
                          <div class="flex justify-between">
                            <label for="company_website" class="inline-flex px-1 bg-mustard-500 block font-mono uppercase text-xs text-black">
                              IBM Code
                            </label>
                            <label for="company_website" class="inline-flex px-1 bg-black block font-mono uppercase text-xs text-white">
                              1.0
                            </label>
                          </div>
                          <div class="mt-1 flex rounded-md">
                            <input type="text" class="focus:ring-indigo-500 px-2 py-2 bg-gray-100 focus:border-indigo-500 flex-1 block w-full  sm:text-sm border-gray-300"
                              value="{{ ibmcode }}"
                            >
                          </div>
                        </div>
                        <div class="">
                          <div class="flex justify-between">
                            <label for="company_website" class="inline-flex px-1 bg-cobalt-500 block font-mono uppercase text-xs text-white">
                              Sender name
                            </label>
                            <label for="company_website" class="inline-flex px-1 bg-black block font-mono uppercase text-xs text-white">
                              0.95
                            </label>
                          </div>
                          <div class="mt-1 flex rounded-md">
                            <input type="text" class="focus:ring-indigo-500 px-2 py-2 bg-gray-100 focus:border-indigo-500 flex-1 block w-full  sm:text-sm border-gray-300"
                              value="{{ sendername }}"
                            >
                          </div>
                        </div>
                        <div class="">
                          <div class="flex justify-between">
                            <label for="company_website" class="inline-flex px-1 bg-cobalt-500 block font-mono uppercase text-xs text-white">
                              Sender address
                            </label>
                            <label for="company_website" class="inline-flex px-1 bg-black block font-mono uppercase text-xs text-white">
                              0.80
                            </label>
                          </div>
                          <div class="mt-1 flex rounded-md">
                            <input type="text" class="focus:ring-indigo-500 px-2 py-2 bg-gray-100 focus:border-indigo-500 flex-1 block w-full  sm:text-sm border-gray-300"
                              value="{{ senderaddress }}"
                            >
                          </div>
                        </div>
                        <div class="">
                          <div class="flex justify-between">
                            <label for="company_website" class="inline-flex px-1 bg-orange-500 block font-mono uppercase text-xs text-white">
                              RECIPIENT address
                            </label>
                            <label for="company_website" class="inline-flex px-1 bg-black block font-mono uppercase text-xs text-white">
                              0.95
                            </label>
                          </div>
                          <div class="mt-1 flex rounded-md">
                            <input type="text" class="focus:ring-indigo-500 px-2 py-2 bg-gray-100 focus:border-indigo-500 flex-1 block w-full  sm:text-sm border-gray-300"
                              value="{{ recipientaddress }}"
                            >
                          </div>
                        </div>
                        <div class="">
                          <div class="flex justify-between">
                            <label for="company_website" class="inline-flex px-1 bg-orange-500 block font-mono uppercase text-xs text-white">
                              RECIPIENT name
                            </label>
                            <label for="company_website" class="inline-flex px-1 bg-black block font-mono uppercase text-xs text-white">
                              0.95
                            </label>
                          </div>
                          <div class="mt-1 flex rounded-md">
                            <input type="text" class="focus:ring-indigo-500 px-2 py-2 bg-gray-100 focus:border-indigo-500 flex-1 block w-full  sm:text-sm border-gray-300"
                              value="{{ recipientname }}"
                            >
                          </div>
                      </div>
                    </div>
                  </div>

                  {% set nextTask = collections.task | getNextCollectionItem(page) %}
                  {% if nextTask %}<p><a class="p-4" href="{{ nextTask.url }}"></a></p>{% endif %}

                </div>
              </div>
              <!-- End main area -->
            </main>
            <aside class="hidden sm:block relative order-first xl:flex xl:flex-col flex-shrink-0 w-88 border-r border-gray-100 overflow-y-auto">
              <div class="h-full">
                <div class="bg-white overflow-hidden">

                  {# <div class="flex justify-between items-center px-4 py-2 border-b border-gray-100">
                    <nav class="flex space-x-1 p-1 bg-gray-100 inline-flex rounded" aria-label="Tabs">
                      <a href="#" class="text-gray-500 bg-gray-100 hover:text-gray-700 px-3 py-2 text-sm rounded">
                        Queued
                      </a>
                      <a href="#" class="bg-cobalt-700 text-cobalt-100 px-3 py-2 text-sm rounded">
                        Completed
                      </a>
                    </nav>
                  </div> #}

                  <ul class="divide-y divide-gray-100">
                  {%- for task in collections.task | reverse -%}
                    <li {% if page.url == task.url %} class="bg-cobalt-100" {% endif %}>
                      <a href="{{ task.url }}" class="block hover:bg-cobalt-100">
                        <div class="px-4 py-3 sm:px-4">
                          <div class="flex items-center justify-between">
                            <p class="text-sm font-medium text-black truncate {% if page.url == task.url %}text-cobalt-500{% endif %}">
                              {{ task.data.title }}
                            </p>
                            <div class="ml-2 flex-shrink-0 flex">
                              <span class="{{ task.data.audit }}">
                                <div class="mt-0.5">{{ task.data.audit }}</div>
                              </span>
                            </div>
                          </div>
                          <div class="mt-1 sm:flex sm:justify-between">
                            <div class="sm:flex">
                              {% if date %}
                              <p class="flex font-mono items-center text-xs text-gray-500">
                                <time datetime="{{ date }}">{{ task.date.toUTCString() }}</time>
                              </p>
                              {% endif %}
                            </div>
                          </div>
                        </div>
                      </a>
                    </li>
                  {%- endfor -%}
                  </ul>
                </div>
              </div>
              <!-- End secondary column -->
            </aside>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
