{% extends "_includes/app.njk" %}
 
{% block title %}Convolute{% endblock %}
 
{% block content %}
  <main class="flex-1 relative z-0 overflow-y-auto focus:outline-none xl:order-last" tabindex="0">
    <!-- Start main area-->
    <div class="absolute inset-0 py-6 px-4 sm:px-6 lg:px-8 bg-gray-50">
      <div class="h-full">
        <div class="mt-2 flex justify-between items-center">
          <h2 class="text-xl leading-6 font-bold text-gray-900">
            Models
          </h2>
          <button class="btn btn-primary">
            Add Model
          </button>
        </div>

        <div class="mt-8">
          <div class="mt-2 grid grid-cols-1 gap-5 sm:grid-cols-3 lg:grid-cols-4">
            <!-- Card -->

            <div class="bg-white overflow-hidden shadow rounded-lg">
              <div class="p-5">
                <div class="flex items-center">
                  <div class="w-0 flex-1">
                    <dl>
                      <dd>
                        <div class="font-bold text-gray-900">
                          Convolute Envelope Model
                        </div>
                      </dd>
                      <dt class="text-xs font-mono font-medium text-gray-500 truncate">
                        convolute_model_1
                      </dt>
                    </dl>
                  </div>
                </div>
              </div>
              <div class="bg-gray-50 px-5 py-3">
                <div class="text-sm">
                  <a href="#" class="font-medium text-cyan-700 hover:text-cyan-900">
                    1 run
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <!-- End main area -->
  </main>
{% endblock %}
