{% extends "_includes/app.njk" %}
 
{% block title %}Convolute{% endblock %}
 
{% block content %}
  <main class="flex-1 relative z-0 overflow-y-auto focus:outline-none xl:order-last" tabindex="0">
    <!-- Start main area-->
    <div class="absolute inset-0 py-6 px-4 sm:px-6 lg:px-8">
      <div class="h-full">

      </div>
    </div>
    <!-- End main area -->
  </main>
{% endblock %}
