{% extends "_includes/app.njk" %}
 
{% block title %}Convolute{% endblock %}
 
{% block content %}

  <main class="flex-1 relative z-0 overflow-y-auto focus:outline-none xl:order-last" tabindex="0">
    <!-- Start main area-->
    <div class="absolute inset-0 py-6 px-4 sm:px-6 lg:px-8 lg:w-1/3">
      <div class="mt-4">
        <h3 class="text-lg leading-6 font-bold text-gray-900 mb-6">
          New Project
        </h3>
      </div>
      <div class="relative rounded shadow-sm">
        <select type="text" name="account_number" id="account_number" class="focus:ring-cobalt-500 focus:border-cobalt-500 block w-full pr-10 sm:text-sm border-gray-200 rounded">
          <option class="py-1" disabled selected>Type</option>
          <option class="py-1">Envelope scans</option>
          <option class="py-1">Image processing</option>
        </select>
      </div>

      <div class="mt-6">
        <label for="name" class="block text-sm font-medium text-gray-700">Name</label>
        <div class="mt-1">
          <input type="text" name="email" id="email" class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded" placeholder="">
        </div>
      </div>

      <div class="mt-6">
        <label for="name" class="block text-sm font-medium text-gray-700">Instructions</label>
        <div class="mt-1">
          <textarea rows="5"  type="textarea" name="instructions" id="email" class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded">
          </textarea>
        </div>
      </div>

      <div class="mt-8 flex">
        <button type="button" class="btn btn-primary">
          Create
        </button>
        <button type="button" class="btn btn-secondary ml-2">
          Cancel
        </button>
      </div>
    </div>
    <!-- End main area -->
  </main>
{% endblock %}
