---
title: Projects
---

{% extends "_includes/app-trainer.njk" %}
 
{% block title %}Projects{% endblock %}
 
{% block content %}

  <div class="flex justify-betwee hover:bg-gray-50 p-4 cursor-pointer">
    <span class="badge badge-primary">
      In Progress
    </span>
    <svg class="w-3 h-3 ml-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
    </svg>
  </div>

  <ul class="divide-y divide-gray-100 border-b border-t border-gray-100">
    {%- for project in collections.project | reverse -%}
      <li {% if page.url == project.url %} class="bg-cobalt-50 hover:bg-cobalt-50"{% endif %}>
        <a href="{{ project.url }}" class="block hover:bg-gray-50">
          <div class="px-4 py-3 sm:px-4 items-center">
            <div class="flex items-center justify-between">
              <div class="flex">
                <div class="flex-shrink-0">
                  <div class="flex items-center justify-center h-10 w-10 rounded-md bg-mosque-600 text-white mr-3">
                    <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
                    </svg>
                  </div>
                </div>
                <div>
                  <p class="text-sm font-medium text-black truncate {% if page.url == project.url %}text-cobalt-500{% endif %}">
                    {{ project.data.projecttitle }}
                  </p>
                  <div class="mt-1 sm:flex sm:justify-between">
                    <div class="sm:flex">
                      <p class="flex font-mono items-center text-xs text-gray-500">
                        <time datetime="{{ date }}">Started: {{ project.data.datecreated.toUTCString() }}</time>
                      </p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="flex items-center">
                <progress class="progress-bar mr-2" max="100" value="{{ project.data.tasksCompleted }}"> {{ project.data.tasksCount }}%</progress>

                <div class="ml-2 flex-shrink-0 flex tooltip">
                  <span class="inline-flex items-center px-3 py-0.5 rounded-full text-sm bg-mosque-100 text-mosque-800">
                    <span class="mt-0.5">{{ project.data.tasksCompleted }} / {{ project.data.tasksCount }}</span>
                  </span>
                  <span class='tooltip-text bg-mosque-200 p-3 -mt-6 text-xs -ml-6 rounded'>{{ project.data.tasksCompleted }} Completed</span>
                </div>

                <button type="button" class="ml-6 mr-2 inline-flex items-center bg-transparent text-sm text-cobalt-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-cobalt-500">
                  Resume
                </button>

              </div>
            </div>
          </div>
        </a>
      </li>
    {%- endfor -%}
  </ul>

  <div class="flex justify-betwee mt-4 hover:bg-gray-50 p-4 cursor-pointer">
    <span class="badge Queued ">
      Queued
    </span>
    <svg class="w-3 h-3 ml-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
    </svg>
  </div>

  <ul class="divide-y divide-gray-100 border-b border-t border-gray-100">
    {%- for project in collections.project -%}
      <li {% if page.url == project.url %} class="bg-cobalt-50 hover:bg-cobalt-50"{% endif %}>
        <a href="{{ project.url }}" class="block hover:bg-gray-50">
          <div class="px-4 py-3 sm:px-4 items-center">
            <div class="flex items-center justify-between">
              <div class="flex">
                <div class="flex-shrink-0">
                  <div class="flex items-center justify-center h-10 w-10 rounded-md bg-mosque-600 text-white mr-3">
                    <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
                    </svg>
                  </div>
                </div>
                <div>
                  <p class="text-sm font-medium text-black truncate {% if page.url == project.url %}text-cobalt-500{% endif %}">
                    {{ project.data.projecttitle }}
                  </p>
                  <div class="mt-1 sm:flex sm:justify-between">
                    <div class="sm:flex">
                      <p class="flex font-mono items-center text-xs text-gray-500">
                        <time datetime="{{ date }}">Started: {{ project.data.datecreated.toUTCString() }}</time>
                      </p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="flex items-center">
                <progress class="progress-bar mr-2" max="100" value="0"> {{ project.data.tasksCount }}%</progress>

                <div class="ml-2 flex-shrink-0 flex tooltip">
                  <span class="inline-flex items-center px-3 py-0.5 rounded-full text-sm bg-mosque-100 text-mosque-800">
                    <span class="mt-0.5">0 / {{ project.data.tasksCount }}</span>
                  </span>
                  <span class='tooltip-text bg-mosque-200 p-3 -mt-6 text-xs -ml-6 rounded'>{{ project.data.tasksCompleted }} Completed</span>
                </div>

                <button type="button" class="ml-6 mr-2 inline-flex items-center bg-transparent text-sm text-cobalt-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-cobalt-500">
                  Start
                </button>

              </div>
            </div>
          </div>
        </a>
      </li>
    {%- endfor -%}
  </ul>

  <div class="flex justify-betwee mt-4 hover:bg-gray-50 p-4 cursor-pointer">
    <span class="badge Completed">
      Complete
    </span>
    <svg class="w-3 h-3 ml-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
    </svg>
  </div>

  <ul class="opacity-50 divide-y divide-gray-100 border-b border-t border-gray-100">
    {%- for project in collections.project | reverse -%}
      <li {% if page.url == project.url %} class="bg-cobalt-50 hover:bg-cobalt-50"{% endif %}>
        <a href="{{ project.url }}" class="block hover:bg-gray-50">
          <div class="px-4 py-3 sm:px-4 items-center">
            <div class="flex items-center justify-between">
              <div class="flex">
                <div class="flex-shrink-0">
                  <div class="flex items-center justify-center h-10 w-10 rounded-md bg-mosque-600 text-white mr-3">
                    <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
                    </svg>
                  </div>
                </div>
                <div>
                  <p class="text-sm font-medium text-black truncate {% if page.url == project.url %}text-cobalt-500{% endif %}">
                    {{ project.data.projecttitle }}
                  </p>
                  <div class="mt-1 sm:flex sm:justify-between">
                    <div class="sm:flex">
                      <p class="flex font-mono items-center text-xs text-gray-500">
                        <time datetime="{{ date }}">Started: {{ project.data.datecreated.toUTCString() }}</time>
                      </p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="flex items-center">
                <progress class="progress-bar mr-2" max="100" value="100"> {{ project.data.tasksCount }}%</progress>

                <div class="ml-2 flex-shrink-0 flex tooltip">
                  <span class="inline-flex items-center px-3 py-0.5 rounded-full text-sm bg-mosque-100 text-mosque-800">
                    <span class="mt-0.5">{{ project.data.tasksCount }} / {{ project.data.tasksCount }}</span>
                  </span>
                  <span class='tooltip-text bg-mosque-200 p-3 -mt-6 text-xs -ml-6 rounded'>{{ project.data.tasksCompleted }} Completed</span>
                </div>

                <button type="button" class="ml-6 mr-2 inline-flex items-center bg-transparent text-sm text-cobalt-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-cobalt-500">
                  Edit
                </button>

              </div>
            </div>
          </div>
        </a>
      </li>
    {%- endfor -%}
  </ul>
{% endblock %}
