---
tags: trainertask
title: 5b2d41bd14014b841c1428c613
audit: Rejected
status: Completed
tasktype: Envelope Scan
inbatch: Batch 6
ibmcode: 08613
sendername: T. Susuki
senderaddress: Tokyo Centra Post Office, P.O.B 640, Tokyo, Japan
recipientaddress: Lincolnstraße 10, 20359 Hamburg
recipientname: Herrn John Lührs
date: 2020-12-27T07:20:11.000Z
layout: trainertask.njk
---

<img class="mx-auto py-6 px-4 inset-0 w-full h-full object-cover" src="/src/images/envelope6.jpg" alt="">
