{% extends "_includes/app.njk" %}
 
{% block title %}Convolute{% endblock %}
 
{% block content %}
  {% include 'partial/app-dashboard-tabs.njk' %}

  <main class="flex-1 relative z-0 overflow-y-auto focus:outline-none xl:order-last" tabindex="0">
    <!-- Start main area-->
    <div class="absolute inset-0 py-6 px-4 sm:px-6 lg:px-8">
      <div class="h-full">
        <div>
          <div class="flex justify-between items-end">
            <h3 class="text-xl leading-6 font-bold text-gray-900">
              Quality Metrics
            </h3>
            <div class="flex flex-row items-center space-x-2">
              <div class="relative w-24 rounded shadow-sm">
                <select type="text" name="account_number" id="account_number" class="focus:ring-cobalt-500 focus:border-cobalt-500 block w-full pr-10 sm:text-sm border-gray-200 rounded">
                  <option class="py-1" disabled selected>Date</option>
                </select>
              </div>
              <div class="relative w-24 rounded shadow-sm">
                <select type="text" name="account_number" id="account_number" class="focus:ring-cobalt-500 focus:border-cobalt-500 block w-full pr-10 sm:text-sm border-gray-200 rounded">
                  <option class="py-1" disabled selected>Type</option>
                  <option class="py-1">Envelope scans</option>
                  <option class="py-1">Image processing</option>
                </select>
              </div>
              <div class="relative w-24 rounded shadow-sm">
                <select type="text" name="account_number" id="account_number" class="focus:ring-cobalt-500 focus:border-cobalt-500 block w-full pr-10 sm:text-sm border-gray-200 rounded">
                  <option class="py-1" disabled selected>status</option>
                  <option class="py-1">Accepted</option>
                  <option class="py-1">In progress</option>
                  <option class="py-1">Queued</option>
                  <option class="py-1">Error</option>
                  <option class="py-1">Cancelled</option>
                </select>
              </div>
              <div class="relative w-24 rounded shadow-sm">
                <select type="text" name="account_number" id="account_number" class="focus:ring-cobalt-500 focus:border-cobalt-500 block w-full pr-10 sm:text-sm border-gray-200 rounded">
                  <option class="py-1" disabled selected>Audit</option>
                  <option class="py-1">Ready to audit</option>
                  <option class="py-1">Accepted</option>
                  <option class="py-1">Fixed</option>
                  <option class="py-1">Rejected</option>
                </select>
              </div>
              <div class="relative w-24 rounded shadow-sm">
                <select type="text" name="account_number" id="account_number" class="focus:ring-cobalt-500 focus:border-cobalt-500 block w-full pr-10 sm:text-sm border-gray-200 rounded">
                  <option class="py-1" disabled selected>Project</option>
                </select>
              </div>
            </div>
          </div>
          <dl class="mt-5 grid grid-cols-1 rounded-sm bg-gray-50 overflow-hidden divide-y divide-white md:grid-cols-4 md:divide-y-0 md:divide-x">
            <div>
              <div class="px-4 py-5 sm:p-6">
                <h6 class="font-mono uppercase text-xs text-black mt-1">
                  Model Accuracy
                </h6>
                <dd class="mt-1 flex justify-between items-baseline md:block lg:flex">
                  <div class="flex items-baseline text-2xl font-semibold text-black">
                    99.2%
                  </div>
                </dd>
              </div>
            </div>

            <div>
              <div class="px-4 py-5 sm:p-6">
                <h6 class="font-mono uppercase text-xs text-cobalt-500 mt-1">
                  Tasks qa’d
                </h6>
                <dd class="mt-1 flex justify-between items-baseline md:block lg:flex">
                  <div class="flex items-baseline text-2xl font-semibold text-cobalt-500">
                    33,214
                  </div>
                </dd>
              </div>
            </div>

            <div>
              <div class="px-4 py-5 sm:p-6">
                <h6 class="font-mono uppercase text-xs text-mosque-500 mt-1">
                  Accepted
                </h6>
                <dd class="mt-1 flex justify-between items-baseline md:block lg:flex">
                  <div class="flex items-baseline text-2xl font-semibold text-mosque-500">
                    99.9%
                  </div>
                </dd>
              </div>
            </div>

            <div>
              <div class="px-4 py-5 sm:p-6">
                <h6 class="font-mono uppercase text-xs text-red-500 mt-1">
                  Rejected
                </h6>
                <dd class="mt-1 flex justify-between items-baseline md:block lg:flex">
                  <div class="flex items-baseline text-2xl font-semibold text-red-500">
                    0.1%
                  </div>
                </dd>
              </div>
            </div>
          </dl>
        </div>

        <div class="mt-12">
          <h3 class="text-lg leading-6 font-bold text-gray-900 mb-4">
            Check Task Quality
          </h3>

          <div class="flex flex-row items-center">
            <div class="relative rounded shadow-sm">
              <select type="text" name="account_number" id="account_number" class="focus:ring-cobalt-500 focus:border-cobalt-500 block w-full pr-10 sm:text-sm border-gray-200 rounded">
                <option class="py-1" disabled selected>Task type</option>
                <option class="py-1">Envelope scans</option>
                <option class="py-1">Image processing</option>

              </select>
            </div>

            <div class="ml-2">
              <input type="text" name="email" id="email" class="shadow-sm focus:ring-cobalt-500 focus:border-cobalt-500 block w-full sm:text-sm border-gray-200 rounded" placeholder="1/1/2020">
            </div>
            <div class="ml-2">
              to
            </div>
            <div class="ml-2">
              <input type="text" name="email" id="email" class="shadow-sm focus:ring-cobalt-500 focus:border-cobalt-500 block w-full sm:text-sm border-gray-200 rounded" placeholder="1/1/2020">
            </div>

            <button type="button" class="ml-2 inline-flex items-center px-5 py-2 border border-transparent rounded shadow-sm text-sm text-white bg-cobalt-600 hover:bg-cobalt-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-cobalt-500">
              Check tasks
            </button>
          </div>
        </div>

        <div class="mt-12">
          <h3 class="text-lg leading-6 font-bold text-gray-900 mb-6">
            Quality Over Time
          </h3>

          <div id="basic-line"></div>
        </div>

      </div>
    </div>
    <!-- End main area -->
  </main>
  <script>
  var myChart = Highcharts.chart('basic-line', {
    chart: {
     styledMode: true,
     height: 300
   },

   title: {
     text: ''
   },

   yAxis: {
     title: {
       text: ''
     }
   },
   xAxis: {
      type: "datetime",
      labels: {
        formatter: function() {
          return Highcharts.dateFormat('%e %b %Y', this.value);
        }
      }
    },
   plotOptions: {
     series: {
       label: {
         connectorAllowed: true
       },
       pointStart: Date.UTC(2020, 12, 01),
       pointInterval: 24 * 3600 * 1000 //one day
     }
   },

   series: [{
     name: 'Fixed',
     data: [15988, 12988, 11988, 10169, 9112, 8352, 5400, 4227, 3401, 2941],
     marker: {
       symbol: 'circle'
     }
   }, {
     name: 'Accepted',
     data: [12916, 15064, 18742, 21851, 22490, 30282, 38121, 40434, 49413, 59331],
     marker: {
       symbol: 'circle'
     }
   }, {
     name: 'Rejected',
     data: [18908, 14948, 12105, 11248, 9989, 5816, 3274, 2111, 1301, 333],
     marker: {
       symbol: 'circle'
     }
   }],
  });

  var myChart = Highcharts.chart('basic-line2', {
    chart: {
     styledMode: true,
     height: 260
   },
   legend: {
      enabled: false
    },

   title: {
     text: ''
   },

   yAxis: {
     title: {
       text: ''
     }
   },
   xAxis: {
      type: "datetime",
      labels: {
        formatter: function() {
          return Highcharts.dateFormat('%e %b %Y', this.value);
        }
      }
    },
   plotOptions: {
     series: {
       label: {
         connectorAllowed: true
       },
       pointStart: Date.UTC(2020, 12, 01),
       pointInterval: 24 * 3600 * 1000 //one day
     }
   },

   series: [{
     name: 'Tasks Created',
     data: [12916, 15064, 18742, 21851, 22490, 30282, 38121, 40434, 48132, 51959, 57142],
     marker: {
       symbol: 'circle'
     }
   }],
  });
</script>
{% endblock %}
